<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="home.component.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="home">
      <nav class="navbar navbar-expand-md navbar-custom">
        <!--brand-->
        <a class="navbar-brand" routerLink=""
          ><img
            src="../../assets/Adopteeni.png"
            class="img-fluid"
            alt="logo"
            style="width: 300px; height: auto"
        /></a>
        <!--toggler/collapside button-->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--navbar links-->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/adopter">Adopter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="">Contact</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li>
              <a routerLink="/consulter" class="navbar float-right" href="#"
                ><img
                  src="../../assets/panier.png"
                  style="width: 30px; margin: 0 30px"
              /></a>
            </li>
            <li>
              <form class="form-inline my-2 my-lg-0">
              <a routerLink="/connecter"><button  class="btn btn-secondary" type="submit">Se connecter</button></a>
              </form>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row footer">
        <img class="fb" src="../../assets/facebook.png" alt="" />
        <img class="insta" src="../../assets/instagram.png" alt="" />
        <h1>ADOPTEENI</h1>
      </div>
      <div class="row copy">
        <img class="c" src="../../assets/copyright.png" alt="" />
        <h3>2022 copyrights</h3>
      </div>
      <div class="row love">
        <h2 class="p1">MADE WITH</h2>
        <img class="coeur" src="../../assets/coeur.png" alt="" />
        <h2 class="p2">BY ADOPTEENI</h2>
      </div>
    </section>
  </body>
</html>
